<h1>Список водителей</h1>

<a href="/drivers/create/">Добавить водителя</a>

{% for driver in drivers %}

    <h3>{{ driver.full_name }}</h3>

    <img src="{{ driver.photo.url }}" width="200">

    <p>Дата рождения: {{ driver.birth_date }}</p>
    <p>Машина: {{ driver.car }}</p>
    <p>Стаж: {{ driver.experience }}</p>
    <p>Права: {{ driver.license }}</p>

    <a href="/drivers/update/{{ driver.id }}/">Изменить</a>
    <a href="/drivers/delete/{{ driver.id }}/">Удалить</a>

    <hr>

{% endfor %}